// Asi se declaran variables
$Fuente1:'Lato',sans-serif;
$Fuente2:'Oswald',sans-serif;
$FontSize: 2.4rem;
$FontSizeMin: 1.6rem;
$Shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
$Radius: 10px;
$color-white: #FFFFFF;
$color-primario:#374151;
$color-claro-gray:#C4C4C4;
$color-secundario: #F3F4F6;
$color-variacion: linear-gradient(90.06deg, #2DD4BF 16.04%, #3B82F6 81.83%);
$backgroundFooter: #3B82F6;