@import './variables';

// Burger menu

.menu {
    position: fixed;
    background: $color-white;
    z-index: 3;
    // top: ;
    left: -200vw;
    // left: 0;
    width: 100vw;
    height: 142px; 
    // bottom: 0;
    display: flex;
    align-items: center;
    justify-content: start;
    transition: .3s;
    border-radius: $Radius;

    .menu-flex {
        display: flex;
        align-items: center;       
    }
}

.menu .menu-flex div {
    margin-left: 20px;
}

.menu ol {
    list-style: none;
    position: relative;
    left: -35px;
}

.menu li {
    padding: 5px;
}

.menu ol li a {
    color: $color-primario;
    font-weight: 500;
    text-decoration: none;
    font-size: 1.6rem;
}

 .menu.is-active {
     left: 0;
  }

  .menu-close {
      color: #FF0000 !important;
  }


//   Hide container

.hide-container {
    left: -200vw;
    // left: 0;
    width: 100vw;
    height: 100vh; 
    background-color: #3d3d3ed5;
    position: fixed;
    z-index: 2;
}

.hide-container.is-hide {
    left: 0;
}


// Perfil button

.perfil-menu {
    position: fixed;
    background: $color-white;
    z-index: 5;
    // top: ;
    right: -100vw;
    width: 100vw;
    height: 142px; 
    // bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: .3s;
    border-radius: $Radius;

    .perfil-flex {
        display: flex;
        align-items: center;       
    }
}

.perfil-menu .perfil-flex div {
    margin-right: 20px;
}

.perfil-menu ol {
    list-style: none;
    position: relative;
    left: -35px;
}

.perfil-menu li {
    padding: 5px;
}

.perfil-menu ol li a {
    color: $color-primario;
    font-weight: 500;
    text-decoration: none;
    font-size: 1.6rem;
}

.perfil-menu.is-perfil {
    right: 0;
 }
