@import './variables';
@import './normalize';
@import './global';

// Completa app
.App-container {
   background-color: $color-secundario;;
}
// Header
.Header-container {
    width: 100%;
    height: 50px;
    background: $color-variacion;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .Header--menu {
        margin-left: 10px;
    }

    .Header--diccionario {
        font-size: $FontSize;
        font-weight: bold;
        color: $color-white;
    }

    .Header--perfil {
        margin-right: 10px;
    }
}
// Menu
.burger-button {
    width: 30px;
    height: 40px;
    display: block;
    background-image: url('../assets/icons/menu.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 4;
}

.perfil-img {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 4;
}

// Search
.Search--container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: auto;
    height: 50px;
    border: 1px solid $color-claro-gray;
    border-radius: $Radius;
    box-shadow: $Shadow;
    margin-top: 10px;

    .Search-icon {
        width: 30px;
        height: 25px;
        background-image: url('../assets/icons/search.svg');
        display: block;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 10px;
    }
    .Search--input {
        background-color: $color-secundario;
        width: 100%;
        border: none;
        outline: none;
        font-size: $FontSizeMin;
        margin-left: 10px;
    }
    .Search-line {
        width: 5px;
        height: 30px;
        background-image: url('../assets/icons/line.svg');
        display: block;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

// Lista de diccionario
.List--container {
    width: 95%;
    margin: 0 auto;
    height: 70vh;
    border: 1px solid $color-claro-gray;
    overflow-y: auto;
    margin-top: 10px;
    border-radius: $Radius;
    box-shadow: $Shadow;
    background-color: $color-secundario;
    
}

.list-group {
    width: 100%;
    height: auto; // Height se quedó disponible Auto
    overflow-y: auto;
  

    .list-group-item {
        color: $color-primario;
        font-weight: bold;
        font-size: 1.8rem;
        cursor: pointer;
        padding: 10px;
      
    }
}

// Footer 
.footer {
    width: 100%;
    height: 50px;
    background-color: $backgroundFooter;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer div span {
    color: $color-white;
}

.footer-left-diccioario {
    width: 30px;
    height: 30px;
    background-image: url('../assets/icons/diccionario.svg');
    display: block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.footer-center-diccioario {
    width: 30px;
    height: 30px;
    background-image: url('../assets/icons/nuevo.svg');
    display: block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.footer-right-diccioario {
    width: 30px;
    height: 30px;
    background-image: url('../assets/icons/perfil.svg');
    display: block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}