@import './variables';
@import './normalize';
@import './global';
@import './menu.scss';

//Wsl de logo
.wsl-logo {
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// Completa app
.App-container {
   background-color: $color-secundario;
   width: 100%;
   height: 100vh;
}
.App-container-login {
    background-color: $color-secundario;
    width: 100%;
    height: 120vh;
}
// Header
.Header-container {
    width: 100%;
    height: 50px;
    background: $color-variacion;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .Header--menu {
        margin-left: 10px;
    }

    .Header--diccionario {
        font-size: $FontSize;
        font-weight: bold;
        color: $color-white;
    }

    .Header--perfil {
        margin-right: 10px;
    }
}
// Menu
.burger-button {
    width: 30px;
    height: 40px;
    display: block;
    background-image: url('../assets/icons/menu.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 4;
    cursor: pointer;
}

.perfil-img {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 4;
    cursor: pointer;
}

// Search
.Search--container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: auto;
    height: 50px;
    border: 1px solid $color-claro-gray;
    border-radius: $Radius;
    box-shadow: $Shadow;
    margin-top: 10px;

    .Search-icon {
        width: 30px;
        height: 25px;
        background-image: url('../assets/icons/search.svg');
        display: block;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 10px;
    }
    .Search--input {
        background-color: $color-secundario;
        width: 100%;
        border: none;
        outline: none;
        font-size: $FontSizeMin;
        margin-left: 10px;
    }
    .Search-line {
        width: 5px;
        height: 30px;
        background-image: url('../assets/icons/line.svg');
        display: block;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

// Lista de diccionario
.List--container {
    width: 95%;
    margin: 0 auto;
    height: 70vh;
    border: 1px solid $color-claro-gray;
    overflow-y: auto;
    margin-top: 10px;
    border-radius: $Radius;
    box-shadow: $Shadow;
    background-color: $color-secundario;
    
}

.list-group {
    width: 100%;
    height: auto; // Height se quedó disponible Auto
    overflow-y: auto;
  

    .list-group-item {
        color: $color-primario;
        font-weight: bold;
        font-size: 1.8rem;
        cursor: pointer;
        padding: 10px;
      
    }
}

// Footer 
.footer {
    width: 100%;
    height: 50px;
    background-color: $backgroundFooter;
    position: fixed;
    z-index: 5;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer div span {
    color: $color-white;
}

.footer-left-diccioario {
    width: 30px;
    height: 30px;
    background-image: url('../assets/images/icons8-diccionario-50.png');
    display: block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.footer-center-diccioario {
    width: 30px;
    height: 30px;
    background-image: url('../assets/icons/nuevo.svg');
    display: block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.footer-right-diccioario {
    width: 30px;
    height: 30px;
    background-image: url('../assets/images/icons8-usuario-50.png');
    display: block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.Perfil-foto-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;


    .Perfil--foto {
        width: 130px;
        height: 130px;
        border-radius: 100%;
        margin-top: 20px;
        border: 5px solid #3B82F6;
    }

    .Perfil--edit {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .Perfil--edit a {
        font-size: $FontSizeMin;
    }

    .Perfil--user {
        margin-top: 10px;
    }

    .Perfil--user p {
        font-size: 1.6rem;
    }

    .Perfil--email {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .Perfil--email p {
        font-size: 1.6rem;
    }
    .Perfil--flag {
        margin-bottom: 40px;
    }
}

.History-title {
    font-size: $FontSize;
    margin-left: 30px;
}

.plans-container--slider {
    display: flex;
    height: auto;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: proximity;
    vertical-align: text-bottom;
  }
  .plans-container--card {
    vertical-align: text-bottom;
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 10px 1px 0;
    padding: 0 15px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
  }
  
// Configuracion
.Atras {
    width: 30px;
    height: 40px;
    display: block;
    background-image: url('../assets/icons/atras.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.Setting-atras {
    display: flex;
    justify-items: center;
    align-items: center;
}
.Setting-atras a {
    color: $color-white;
    text-decoration: none;
    font-size: $FontSizeMin;
}

.Setting-atras a:hover {
    color: $color-white;
}

.Setting-info {
    text-align: center;
}

.Setting-info h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: $FontSize;
    font-weight: bold;
    color: $color-primario;
    text-transform: uppercase;
}

.btn-wsl {
    text-align: center;
    width: 200px;
    height: 40px;
    background: $color-variacion;
    border-radius: 10px;
    border-radius: $Radius;
    line-height: 35px;
    display: block;
    margin: auto;
    color: $color-white;
    text-decoration: none;
    font-size: $FontSizeMin;

}
.btn-wsl:hover {
    color: $color-white;
}

.Setting-about {
    text-align: center;
}

.Setting-about h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: $FontSize;
    font-weight: bold;
    color: $color-primario;
    text-transform: uppercase;
}

.Setting-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Setting-link div {
    margin-bottom: 10px;
}

.Setting-version small {
    margin-left: 20px;
    font-size: 1.2rem;
    color: $color-primario;
}


// Informacion Personal

.Info-nombre {
    width: 35px;
    height: 30px;
    background-image: url('../assets/icons/nombre.svg');
    display: block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
}
.Info-apellido {
    width: 35px;
    height: 30px;
    background-image: url('../assets/icons/apellido.svg');
    display: block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
}
.Info-correo {
    width: 35px;
    height: 30px;
    background-image: url('../assets/icons/apellido.svg');
    display: block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
}
.Info-telefono {
    width: 35px;
    height: 30px;
    background-image: url('../assets/icons/telefono.svg');
    display: block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
}
.Info-genero {
    width: 35px;
    height: 30px;
    background-image: url('../assets/icons/genero.svg');
    display: block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
}

.custom-select {
    background-color: $color-secundario;
    border: 1px solid $color-claro-gray;
    outline: none;
    font-size: $FontSizeMin;
    margin-left: 10px;
}

.Genero--container {
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: auto;
    border: none;
    font-size: 1.4rem;
    color: $color-claro-gray;
    background-color: $color-secundario;
}

.sevaed {
    text-align: center;
    font-size: $FontSize;
}


// Iniciar sesión
.Login {
    max-width: 900px;
    margin: 0 auto;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .Login-titlo {
        font-size: $FontSizeMin;
        color: $color-primario;
    }

    .Remember {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
    }

    .Remember a {
        font-size: $FontSizeMin;
        margin-top: 10px;
    }


    .form-check-label {
        font-size: $FontSizeMin;
    }

    .btn-registrar  {
        font-size: $FontSizeMin;
        display: flex;
        justify-content: center;
    }
}

.form-label {
    font-size: $FontSizeMin;
    font-weight: bold;
    color: $color-primario;
}

.form-control {
    width: 100%;
    height: 40px;
}

input[type=text] {
    font-size: 1.4rem;
    border-radius: $Radius;
    border: 1px solid #3B82F6;
    color: $color-primario;
}
input[type=email] {
    font-size: 1.4rem;
    border-radius: $Radius;
    border: 1px solid #3B82F6;
    color: $color-primario;
}
input[type=password] {
    font-size: 1.4rem;
    border-radius: $Radius;
    border: 1px solid #3B82F6;
    color: $color-primario;
}
input[type=checkbox] {
    font-size: 1.5rem;
    margin-right: 10px;
}

select.form-select  {
    font-size: 1.4rem;
    width: 100%;
    height: 40px;
    border-radius: $Radius;
    border: 1px solid #3B82F6;
    color: $color-primario;
}

.form-control::placeholder {
    font-size: $FontSizeMin;
}

// Registrar
.Registrar {
    max-width: 900px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .Registrar-titlo {
        font-size: $FontSizeMin;
        color: $color-primario;
    }

    .btn-aceptado {
        font-size: $FontSizeMin;
        display: flex;
        justify-content: center;
    }
}


// Modal del video
.Palabra {
    font-weight: bold;
    padding: 10px;
}

.list-modal {
    text-decoration: none;
}

.modal-content {
    border-radius: 10px !important;
    margin-top: 100px !important;
}

.modal-footer {
    justify-content: center !important;
}

.modal-title {
    padding: 10px;
}

.modal-perfil {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    border: 2px solid #3B82F6;
}
// Share

.heart-icon {
    width: 40px;
    height: 40px;
    display: block;
    background-image: url('../assets/icons/heart.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.comment-icon {
    width: 40px;
    height: 40px;
    display: block;
    background-image: url('../assets/icons/comment.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.share-icon {
    width: 40px;
    height: 40px;
    display: block;
    background-image: url('../assets/icons/share.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.Share-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Share-container div {
    display: flex;
    align-items: center;
}
.Share-container div p {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 1.4rem;
    font-weight: 500;
}


// Grid

.post-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 300px));
    justify-content: center;
    grid-gap: 5px;
    margin: 5px 0;
    height: 500px;
    overflow-y: auto;

    .post-video {
        width: 100%;
        height: 240px;
        aspect-ratio: 16/9;
    }

    .post {
        position: relative;
        cursor: pointer;
        display: block;
    }
    
    .post-image{
        margin: 0;
    }
    .post-image img{
        width: 100%;
        vertical-align: top;
    }
    .post-overlay {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .post-likes {
        font-size: $FontSizeMin;
        text-decoration: none;
        border: none;
    }
    .post-comments {
        font-size: $FontSizeMin;
    }
    .post-overlay {
        position: absolute;
        left: 0;
        top: 190px;
        padding: 5px;
    }
    .grid-perfil {
        display: flex;
        position: absolute;
        top: 5px;
        left: 5px;
    }
    .post-overlay .heart-icon {
        width: 25px;
        height: 25px;
    }
}

